.card {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 5px;
    text-align: center;
    box-shadow: 7px 10px 12px -5px;
    /* transform: translateX(300%); */
    transition: all 1s ease-in-out;
    width: 15%;
}

.card h1 {
    margin: 2px;
}

.card.show {
    opacity: 0;
    transform: translateX(0);
}

.pokecard-image {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
    height: 150px;
    display: flex;
}

.pokecard-image img {
    transition: all ease 500ms;
    margin: auto;
}
.pokecard-image img:hover {
    transform: scale(1.25);
}

.electric {
    border: 10px solid yellow;
}
.water {
    border: 10px solid blue;
}
.poison {
    border: 10px solid #9f409f;
}
.bug {
    border: 10px solid #a8b720;
}
.flying {
    border: 10px solid skyblue;
}
.fire {
    border: 10px solid red;
}
.normal {
    border: 10px solid #a8a877;
}
.grass {
    border: 10px solid green;
}
.fighting {
    border: 10px solid #c03028;
}
.ground {
    border: 10px solid #e0c068;
}
.rock {
    border: 10px solid #b8a038;
}
.ice {
    border: 10px solid #98d8d8;
}
.dragon {
    border: 10px solid #7038f8;
}
.ghost {
    border: 10px solid #705898;
}
.psychic {
    border: 10px solid #f85788;
}
.fairy {
    border: 10px solid #ee99ac;
}
