.card {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 10px 0;
    padding: 5px;
    text-align: center;
    box-shadow: 7px 10px 12px -5px;
    width: 300px;
}

.pokecard-image {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 10px;
}

.pokecard-image img {
    transition: all ease 500ms;
}
.pokecard-image img:hover {
    transform: scale(1.25);
}

.electric {
    border: 10px solid yellow;
}
.water {
    border: 10px solid blue;
}
.poison {
    border: 10px solid black;
}
.bug {
    border: 10px solid burlywood;
}
.flying {
    border: 10px solid skyblue;
}
.fire {
    border: 10px solid red;
}
.normal {
    border: 10px solid grey;
}
.grass {
    border: 10px solid green;
}
