.pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: space-around;
}

.winner {
    margin-top: -50px;
}

@media (max-width: 1100px) {
    .winner img {
        display: none;
    }
}

@media (max-width: 500px) {
    img {
        height: 100px;
    }
    .card {
        width: fit-content;
        max-height: 250px;
    }
    .card h1,
    p {
        margin: 0;
        font-size: 100%;
    }
    .loading-text {
        font-size: 3rem;
    }
}
