.App {
    text-align: center;
}
body {
    padding: 0 10px 0 10px;
    text-align: center;
}
.card-block div {
    background-color: lightgrey;
    border: 10px solid;
    border-radius: 20px;
    margin: 0 5px 0 5px;
    padding: 10px;
    text-align: center;
}
.card-block {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.electric {
    border-color: yellow;
}
.water {
    border-color: blue;
}
.poison {
    border-color: black;
}
.bug {
    border-color: burlywood;
}
.flying {
    border-color: skyblue;
}
.fire {
    border-color: red;
}
.normal {
    border-color: grey;
}
.grass {
    border-color: green;
}
